{{#if editFormShow}}

<form>
  <label>Name:</label>
  {{input value=updatedName}}
  <label>Answer:</label>
  {{input value=updatedAnswer}}
  <button {{action 'updateAnswer' answer}}>Update</button>
</form>
{{else}}
<button {{action 'showEdit'}}>Edit</button>
{{/if}}
